{% extends "base.html" %}

{% block title %}My Blog{% endblock %}


{% block content %}
<div class="container col-sm-12">
    {% for article in articles %}
    <div class="container col-sm-6 col-lg-offset-3 list-group-item">
        <div class="col-sm-9 header-bar" style="font-size: large">{{ article.title }}</div>
        <div class="col-sm-3 header-bar" style="font-size: large">{{ article }}</div>
        <div class="col-sm-3">
            <a href="#">
                <img class="thumbnail img-responsive" src="//placehold.it/200x200/2255EE">
            </a>
        </div>
    </div><!--container-->
    {% endfor %}
</div><!--container-->
{% endblock %}