{% extends "base.html" %}

{% block title %}{{ photo.title }}{% endblock %}

{% block content %}
    <div class="container col-sm-12">
        <div class="container col-sm-6 col-lg-offset-3 list-group-item">
            <div class="col-sm-12 header-bar" style="font-size: large">{{ photo.title }}</div>
            <div class="col-sm-12 header-bar" style="font-size: large">{{ photo.date }}</div>
            <a href="#">
                <img class="thumbnail img-responsive" src="http://10.20.136.163/emoticon{{ photo.url }}">
            </a>
        </div><!--container-->
    </div><!--container-->
    <div class="container col-sm-12">
        <div class="container col-sm-6 col-lg-offset-3 list-group-item">
            {% include 'display_tags.html' with tags=tags %}
        </div>
    </div>
    <div class="container col-sm-6 col-lg-offset-3 list-group-item">
        {% for photo in similar_photos %}
            <div class="col-xs-6 col-sm-3" style="height: 200px; width: 200px">
                <a href="{% url 'emoticon:photo_detail' photo_old_id=photo.old_id %}">
                    <img class="img-responsive" src="http://10.20.136.163/emoticon{{ photo.url }}">
                </a>
            </div>
        {% endfor %}
    </div><!--container-->
{% endblock %}