{% extends "base.html" %}

{% block title %}Standalone photos{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <div class="gallery-item">
                        <img src="images/gallery/gallery-item1.jpg" alt="image 1">
                    <div class="content-gallery">
                        <h3>Etiam sed felis</h3>
                    </div>
                </div> <!-- /.gallery-item -->
            </div> <!-- /.col-md-2 -->
        </div> <!-- /.row -->
    </div> <!-- /.slide-item -->
{% endblock %}